<div class="flex items-center flex-wrap md:flex-nowrap lg:items-end justify-between border-b border-b-gray-200 dark:border-b-coal-100 gap-3 lg:gap-6 mb-5 lg:mb-10">
    <div class="grid">
        <div class="scrollable-x-auto">
            <div class="menu gap-3" data-menu="true">
                <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary">
                    <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="html/demo8/public-profile/works.html">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                    Crafting
                    </span>
                    </a>
                </div>
                <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary">
                    <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="html/demo8/public-profile/teams.html">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                    Refining
                    </span>
                    </a>
                </div>
                <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary">
                    <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="html/demo8/public-profile/network.html">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                    Building
                    </span>
                    </a>
                </div>
                <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary">
                    <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="html/demo8/public-profile/activity.html">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                    Repair
                    </span>
                    </a>
                </div>
                <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary">
                    <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="html/demo8/public-profile/activity.html">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                    Weapons
                    </span>
                    </a>
                </div>
                <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary">
                    <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="html/demo8/public-profile/activity.html">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                    Technologies
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>