<div class="flex flex-row justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium p-5">
    <div class="flex items-center gap-2 order-2 md:order-1">
        Show
        <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
        per page
    </div>
    <div class="flex items-center gap-4 order-1 md:order-2">
        <span data-datatable-info="true">11-20 of 68</span>
        <div class="pagination">
            <button class="btn" disabled="">
            <i class="ki-outline ki-black-left">
            </i>
            </button>
            <button class="btn active">
            1
            </button>
            <button class="btn">
            2
            </button>
            <button class="btn">
            3
            </button>
            <span class="btn disabled">
            ...
            </span>
            <button class="btn">
            24
            </button>
            <button class="btn">
            25
            </button>
            <button class="btn">
            26
            </button>
            <button class="btn">
            <i class="ki-outline ki-black-right">
            </i>
            </button>
        </div>
    </div>
</div>