<!-- Header -->
<header class="flex lg:hidden items-center fixed z-10 top-0 start-0 end-0 shrink-0 bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark] h-[--tw-header-height]" id="header">
    <!-- Container -->
    <div class="container-fixed flex items-center justify-between flex-wrap gap-3">
        <a href="{{ url_for('landing_page') }}">
        <img class="dark:hidden min-h-[30px]" src="{{ url_for('static', path='img/app/mini-logo-gray.svg') }}"/>
        <img class="hidden dark:block min-h-[30px]" src="{{ url_for('static', path='img/app/mini-logo-gray-dark.svg') }}"/>
        </a>
        <button class="btn btn-icon btn-light btn-clear btn-sm -me-1" data-drawer-toggle="#sidebar">
        <i class="ki-filled ki-menu">
        </i>
        </button>
    </div>
    <!-- End of Container -->
</header>
<!-- End of Header -->