<div class="card">
    <div class="card-body lg:py-7.5">
        <div class="flex flex-wrap gap-7.5">
            <div class="flex flex-col gap-3 items-center justify-center size-[140px] rounded-xl ring-1 ring-gray-200 bg-secondary-clarity">
                <img alt="" src="{{ url_for('static', path=substance.resolve_img_path() ) }}">
                </img>
            </div>
            <div class="flex flex-col gap-5 lg:gap-7.5 grow">
                <div class="flex flex-wrap items-center justify-between gap-2">
                    <div class="flex flex-col gap-1">
                        <div class="flex items-center flex-wrap sm:flex-nowrap gap-2.5">
                            <h2 class="text-2xl font-semibold text-gray-900">
                                {{ substance.name_lower }}
                            </h2>
                            <span class="badge badge-sm badge-success badge-outline shrink-0">
                             {{ substance.category}}
                            </span>
                        </div>
                        <p class="text-2sm text-gray-700">
                            {{ substance.subtitle }}
                        </p>
                    </div>
                </div>
                <div class="flex items-center flex-wrap gap-3 lg:gap-5">
                    <div class="flex flex-col gap-1.5 px-2.75 py-2.25 border border-dashed border-gray-400 rounded-md">
                        <span class="text-gray-900 text-sm leading-none font-medium">
                        {{ substance.base_value }}
                        </span>
                        <span class="text-gray-700 text-xs">
                        Base Value
                        </span>
                    </div>
                    <div class="flex flex-col gap-1.5 px-2.75 py-2.25 border border-dashed border-gray-400 rounded-md">
                        <span class="text-gray-900 text-sm leading-none font-medium">
                        {{ substance.rarity }}
                        </span>
                        <span class="text-gray-700 text-xs">
                        Rarity
                        </span>
                    </div>
                    <div class="flex flex-col gap-1.5 px-2.75 py-2.25 border border-dashed border-gray-400 rounded-md">
                        <span class="text-gray-900 text-sm leading-none font-medium">
                        {{ substance.legality }}
                        </span>
                        <span class="text-gray-700 text-xs">
                        Legality
                        </span>
                    </div>
                    <div class="flex flex-col gap-1.5 px-2.75 py-2.25 border border-dashed border-gray-400 rounded-md">
                        <span class="text-gray-900 text-sm leading-none font-medium">
                        {{ substance.game_id }}
                        </span>
                        <span class="text-gray-700 text-xs">
                        NMS ID
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>