<div class="card">
            <div class="card-header">
             <h3 class="card-title">
              About
             </h3>
            </div>
            <div class="card-body pt-4 pb-3">
             <table class="table-auto">
              <tbody>
               <tr>
                <td class="text-sm text-gray-600 pb-3.5 pe-3">
                 Age
                </td>
                <td class="text-sm text-gray-900 pb-3.5">
                 32
                </td>
               </tr>
               <tr>
                <td class="text-sm text-gray-600 pb-3.5 pe-3">
                 City:
                </td>
                <td class="text-sm text-gray-900 pb-3.5">
                 Amsterdam
                </td>
               </tr>
               <tr>
                <td class="text-sm text-gray-600 pb-3.5 pe-3">
                 State:
                </td>
                <td class="text-sm text-gray-900 pb-3.5">
                 North Holland
                </td>
               </tr>
               <tr>
                <td class="text-sm text-gray-600 pb-3.5 pe-3">
                 Country:
                </td>
                <td class="text-sm text-gray-900 pb-3.5">
                 Netherlands
                </td>
               </tr>
               <tr>
                <td class="text-sm text-gray-600 pb-3.5 pe-3">
                 Postcode:
                </td>
                <td class="text-sm text-gray-900 pb-3.5">
                 1092 NL
                </td>
               </tr>
               <tr>
                <td class="text-sm text-gray-600 pb-3.5 pe-3">
                 Phone:
                </td>
                <td class="text-sm text-gray-900 pb-3.5">
                 +31 6 1234 56 78
                </td>
               </tr>
               <tr>
                <td class="text-sm text-gray-600 pb-3.5 pe-3">
                 Email:
                </td>
                <td class="text-sm text-gray-900 pb-3.5">
                 <a class="text-gray-800 hover:text-primary-active" href="#">
                  jenny@ktstudio.com
                 </a>
                </td>
               </tr>
              </tbody>
             </table>
            </div>
           </div>